@font-face {
  font-family: 'DMMono';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  src: url("../fonts/DMMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'DMMono';
  font-style: italic;
  font-weight: normal;
  font-variant: normal;
  src: url("../fonts/DMMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'Madimi One';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  src: url("../fonts/MadimiOne-Regular.ttf") format("truetype");
}

:root {
  --font-mono: 'DMMono', monospace;

  font-size: 16px;
  font-family: 'Madimi One', sans-serif;
  background: #11161f;
}

html, body {
  height: 100%;
  width: auto;
}

html {
  color: #f4f4ec;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0px;
}

code {
  font-family: var(--font-mono);
  tab-size: 4;
}

.title {
  font-size: 32px;
}

.subtitle {
  font-size: 24px;
}

.cella-keyword {
  color: #5ce0fa;
}

.cella-type {
  font-weight: bold;
}

.cella-function {
  color: #ff61ba;
}

.cella-literal {
  color: #ffea61;
}

.cella-comment {
  font-style: italic;
  color: #313a4d;
}

.cella-parameter {
  color: #ffc595;
}

.cella-module {
  color: #95ffa1;
}
