@font-face {
  font-family: 'DMMono';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  src: url("../fonts/DMMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'DMMono';
  font-style: italic;
  font-weight: normal;
  font-variant: normal;
  src: url("../fonts/DMMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'Madimi One';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  src: url("../fonts/MadimiOne-Regular.ttf") format("truetype");
}

:root {
  --font-mono: 'DMMono', monospace;

  font-size: 28px;
  font-family: 'Madimi One', sans-serif;
  background: #11161f;
}

html, body {
  height: 100%;
  width: auto;
}

html {
  color: #f4f4ec;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 28px;
}

pre {
  margin: 0px;
}

.code {
  font-family: var(--font-mono);
  tab-size: 4;
  -o-tab-size: 4;
  -moz-tab-size: 4;
  line-height: 1.2;
}

.title {
  font-size: 64px;
}

.subtitle {
  font-size: 42px;
}

.code-block {
  border-color: #313a4d;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  padding: 8px;
}

.line-number-section {
  user-select: none;
  display: table-cell;
  color: #313a4d;
  text-align: right;
  padding-right: 8px;
}

.code-section {
  display: table-cell;
  padding-left: 12px;
  border-left-color: #313a4d;
  border-left-width: 3px;
  border-left-style: solid;
}

.cella-keyword {
  color: #5ce0fa;
}

.cella-type {
  font-weight: bold;
}

.cella-function {
  color: #ff61ba;
}

.cella-literal {
  color: #ffea61;
}

.cella-comment {
  font-style: italic;
  color: #313a4d;
}

.cella-parameter {
  color: #ffc595;
}

.cella-module {
  color: #95ffa1;
}
